<ion-grid class="ion-margin-top ion-margin-bottom ion-no-padding">
  <ion-row>
    <ion-col class="col-card--padding-end">
      <ion-card class="ion-no-margin">
        <ion-card-header class="ion-no-padding ion-padding-bottom">
          <ion-toolbar color="unset">
            <ion-buttons slot="start">
              <ion-button>
                <ion-icon src="assets/icon/money.svg"></ion-icon>
              </ion-button>
            </ion-buttons>
            <ion-label>Sua taxa</ion-label>
          </ion-toolbar>
        </ion-card-header>

        <ion-card-content>
          <strong>{{ userPrice | currency :'BRL':true:'1.2-2' }}</strong>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col class="col-card--padding-start">
      <ion-card class="ion-no-margin">
        <ion-card-header class="ion-no-padding ion-padding-bottom">
          <ion-toolbar color="unset">
            <ion-buttons slot="start">
              <ion-button>
                <ion-icon src="assets/icon/uber.svg"></ion-icon>
              </ion-button>
            </ion-buttons>
            <ion-label>Taxa uber</ion-label>
          </ion-toolbar>
        </ion-card-header>

        <ion-card-content>
          <strong>{{ uberPrice | currency :'BRL':true:'1.2-2' }}</strong>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>