<form *ngIf="form" [formGroup]="form">
    <ion-item 
      lines="none"
      class="ion-no-padding ion-margin-bottom be-input-label">
      <ion-label 
        position="floating"
        color="medium"
        class="ion-no-padding ion-no-margin"> De onde? </ion-label>
      <ion-input 
        type="text"
        name="startLocation"
        class="ion-no-margin"
        formControlName="startLocation">
      </ion-input>
    </ion-item>

    <ion-item 
      lines="none"
      class="ion-no-padding ion-margin-bottom be-input-label">
      <ion-label 
        position="floating"
        color="medium"
        class="ion-no-padding ion-no-margin"> Para aonde? </ion-label>
      <ion-input 
        type="text"
        name="endLocation"
        class="ion-no-margin"
        formControlName="endLocation">
      </ion-input>
    </ion-item>

    <ion-button class="ion-margin-bottom be-action-button be-button--marine-blue"
              expand="block"
              type="submit"
              [disabled]="form.invalid">
      Calcular
    </ion-button>
</form>
